sip==6.12.0
grpcio==1.76.0
isaacsim-rl==5.1.0.0
action_tutorials_interfaces==0.20.5
pycparser==3.0
pycparser==2.23
peft==0.18.1
proglog==0.1.12
rqt_topic==1.5.0
glfw==2.10.0
rosidl_generator_py==0.14.4
PyQt6-Qt6==6.10.1
dex_retargeting==0.4.6
ros2run==0.18.12
certifi==2026.1.4
joblib==1.5.3
zipp==3.23.0
nvidia-nvshmem-cu12==3.4.5
av==15.0.0
PyQt6==6.10.2
ml_dtypes==0.5.4
isaacsim-example==5.1.0.0
imageio-ffmpeg==0.6.0
examples_rclpy_minimal_action_server==0.15.3
qpsolvers==4.8.2
tornado==6.5.1
qt_dotgraph==2.2.4
tomli==2.4.0
multidict==6.7.0
multidict==6.1.0
plotly==6.5.2
typing-inspection==0.4.2
pydantic_core==2.33.2
laser_geometry==2.4.0
argcomplete==3.6.2
pyasn1==0.6.2
ipython==9.9.0
ros2node==0.18.12
numpy-stl==3.2.0
ray==2.48.0
tf2_geometry_msgs==0.25.14
isaacsim-app==5.1.0.0
pyngrok==7.5.0
requests-oauthlib==1.3.1
pendulum_msgs==0.20.5
nvidia-cusparselt-cu12==0.6.3
kiwisolver==1.4.4
kiwisolver==1.4.9
xattr==1.3.0
ros_ign_interfaces==0.244.20
isaaclab_assets==0.2.3
ament_cmake_test==1.3.12
isaacsim-storage==5.1.0.0
pyproject_hooks==1.2.0
trimesh==4.5.1
fonttools==4.55.3
fonttools==4.61.0
snowballstemmer==3.0.1
identify==2.6.16
hydra-core==1.3.2
requests==2.32.3
etils==1.13.0
asteval==1.0.6
pyflakes==3.4.0
rcl_interfaces==1.2.1
teleop_twist_keyboard==2.4.0
einx==0.3.0
wslink==2.5.0
itsdangerous==2.2.0
nest-asyncio==1.5.6
ruff==0.14.13
pip==25.3
python-socketio==5.16.0
osrf_pycommon==2.1.6
chardet==7.3.0
std_srvs==4.9.0
regex==2026.1.15
isaacsim-core==5.1.0.0
typer==0.24.1
PyJWT==2.10.1
psutil==5.9.8
psutil==7.0.0
frozenlist==1.5.0
frozenlist==1.8.0
action_msgs==1.2.1
quadprog==0.1.13
mpmath==1.3.0
xxhash==3.6.0
pyvers==0.1.0
pyparsing==3.0.9
pyparsing==3.2.5
demo_nodes_py==0.20.5
fastapi==0.115.7
accelerate==1.12.0
referencing==0.37.0
pygame==2.6.1
pydocstyle==6.3.0
launch_testing==1.0.9
cyclonedds-nightly==2025.11.25
rosdistro==1.0.1
opentelemetry-exporter-otlp-proto-http==1.39.1
builtin_interfaces==1.2.1
zstandard==0.25.0
ros2action==0.18.12
pre_commit==4.5.1
attrs==25.1.0
attrs==25.4.0
distlib==0.4.0
datasets==3.6.0
yourdfpy==0.0.60
loop-rate-limiters==1.2.0
gps_msgs==2.1.0
msgspec==0.20.0
opencensus-context==0.1.3
narwhals==2.15.0
sensor_msgs==4.9.0
filelock==3.20.3
nvidia-cudnn-cu12==9.7.1.26
nvidia-cusparse-cu12==12.5.7.53
opencv-python==4.13.0.90
opencv-python==4.11.0
triton==3.3.0
cuda-bindings==12.9.4
opentelemetry-exporter-prometheus==0.60b1
coloredlogs==15.0.1
examples_rclpy_minimal_client==0.15.3
dill==0.3.8
python-utils==3.9.1
aiohttp==3.13.3
aiohttp==3.11.11
pycairo==1.23.0
importlib_metadata==8.7.1
importlib_metadata==8.7.0
turtlesim==1.4.2
pybind11-global==3.0.1
black==25.1.0
pcl_msgs==1.0.0
idna-ssl==1.1.0
nodeenv==1.10.0
rqt_shell==1.0.2
cmeel-qhull==8.0.2.1
typeguard==4.4.4
example_interfaces==0.9.3
cfgv==3.5.0
cmeel-tinyxml==2.6.2.3
pycares==4.8.0
pycares==4.10.0
evdev==1.9.2
rqt_publisher==1.5.0
open3d==0.19.0
python-xlib==0.33
tf2_sensor_msgs==0.25.14
proto-plus==1.27.0
pytokens==0.4.0
isaacsim-replicator==5.1.0.0
decorator==5.2.1
visualization_msgs==4.9.0
aiohttp-cors==0.8.1
imageio==2.37.0
ament_pep257==0.12.12
multiprocess==0.70.16
safetensors==0.7.0
opentelemetry-proto==1.39.1
adam-atan2-pytorch==0.2.4
jsonschema-specifications==2025.9.1
lifecycle_msgs==1.2.1
mccabe==0.7.0
urllib3==2.6.3
isaacsim-extscache-physics==5.1.0.0
rosidl_parser==3.1.6
pyperclip==1.8.0
isaacsim-robot==5.1.0.0
fastjsonschema==2.21.2
aioitertools==0.11.0
execnet==2.1.2
aiohappyeyeballs==2.6.1
aiohappyeyeballs==2.4.4
nav_msgs==4.9.0
python-dotenv==1.2.1
cmeel-zlib==1.3.1
redis==7.1.0
aiodns==3.5.0
aiodns==3.1.1
bidict==0.23.1
httpcore==1.0.9
pin==2.7.0
GitPython==3.1.46
scikit-learn==1.8.0
retrying==1.4.2
platformdirs==4.5.1
absl-py==2.3.1
isaaclab_tasks==0.11.9
manifold3d==3.4.1
lance-namespace==0.4.5
pyzmq==27.1.0
tf2_ros_py==0.25.14
pillow==11.3.0
pillow==12.1.0
sentry-sdk==2.29.1
gymnasium==1.2.1
sympy==1.13.3
pytest-xdist==3.8.0
actionlib_msgs==4.9.0
message_filters==4.3.7
cmeel-boost==1.83.0
tqdm==4.67.1
examples_rclpy_minimal_subscriber==0.15.3
python-dateutil==2.9.0.post0
websockets==15.0.1
PyQt5==5.15.11
smmap==5.0.2
markdown-it-py==4.0.0
trl==0.27.0
netifaces==0.11.0
opentelemetry-api==1.39.1
scenepic==1.1.2
lightning-utilities==0.15.2
einops==0.8.1
rosidl_typesupport_fastrtps_cpp==2.2.2
tabulate==0.9.0
aiosignal==1.4.0
coverage==7.4.4
idna==3.11
idna==3.10
isaacsim-template==5.1.0.0
fsspec==2024.6.1
cmeel-octomap==1.10.0
quality_of_service_demo_py==0.20.5
ros2cli==0.18.12
azure-core==1.28.0
tyro==1.0.5
PyYAML==6.0.3
rpyutils==0.2.1
rich==14.2.0
cmeel-assimp==5.4.3.1
wsproto==1.3.2
nvidia-curand-cu12==10.3.9.55
geometry_msgs==4.9.0
importlib_resources==6.5.2
daqp==0.7.2
gitdb==4.0.12
launch_yaml==1.0.9
qt_gui_py_common==2.2.4
lark-parser==0.12.0
propcache==0.2.1
propcache==0.4.1
theora_image_transport==2.5.3
vtk==9.4.2
vtk==9.4.2
vtk==9.5.2
ros2pkg==0.18.12
asttokens==3.0.1
rsa==4.9.1
torchvision==0.22.0+cu128
lxml==5.3.0
lxml==6.0.2
starlette==0.45.3
humanfriendly==10.0
iniconfig==2.3.0
rosidl_typesupport_cpp==2.0.2
ipython_pygments_lexers==1.1.1
rerun-sdk==0.21.0
watchdog==4.0.0
ros2service==0.18.12
distro==1.9.0
rqt_srv==1.0.3
isaaclab_mimic==1.0.15
ros2interface==0.18.12
cuda-pathfinder==1.3.3
googleapis-common-protos==1.72.0
docstring_parser==0.17.0
cmeel-console-bridge==1.0.2.3
contourpy==1.3.3
contourpy==1.3.1
ConfigArgParse==1.7.1
isaac_playground==0.1.0
cmeel-urdfdom==3.1.1.1
tensorboard-data-server==0.7.2
cloudpickle==3.1.2
pytorch-lightning==2.6.0
composition_interfaces==1.2.1
nvidia-cufile-cu12==1.13.0.11
opentelemetry-semantic-conventions==0.60b1
ros2topic==0.18.12
cryptography==46.0.3
cryptography==44.0.0
loguru==0.7.3
h11==0.16.0
domain_coordinator==0.10.0
numpy==1.26.0
numpy==1.26.4
pycodestyle==2.14.0
launch==1.0.9
ptyprocess==0.7.0
rosbag2_interfaces==0.15.14
orjson==3.11.5
pytest==8.4.2
pytest==7.4.0
ros_gz_interfaces==0.244.20
rqt_console==2.0.3
google-auth==2.47.0
colorful==0.5.8
opentelemetry-sdk==1.39.1
examples_rclpy_executors==0.15.3
charset-normalizer==3.3.2
addict==2.4.0
qt_gui_cpp==2.2.4
pyarrow==23.0.0
tensorboard==2.20.0
rqt_action==2.0.1
isaacsim-robot-motion==5.1.0.0
easydict==1.13
bracex==2.6
stack-data==0.6.3
rqt_reconfigure==1.1.2
ros2param==0.18.12
nvidia-nvtx-cu12==12.8.55
omegaconf==2.3.0
executing==2.2.1
unique_identifier_msgs==2.2.1
meshcat-shapes==1.0.0
async-timeout==5.0.1
Werkzeug==3.1.5
shapely==2.1.2
rqt_gui_py==1.1.7
mypy_extensions==1.1.0
oauthlib==3.2.2
six==1.17.0
shape_msgs==4.9.0
matplotlib==3.10.8
matplotlib==3.10.3
numba==0.59.1
sshkeyboard==2.3.1
qrcode==7.4.2
lance-namespace-urllib3-client==0.4.5
comm==0.2.3
ament_package==0.14.1
h5py==3.15.1
nvidia-nccl-cu12==2.26.2
widgetsnbextension==4.0.15
docutils==0.21.2
awscrt==0.23.8
action_tutorials_py==0.20.5
wcwidth==0.3.0
launch_xml==1.0.9
qt_gui==2.2.4
torchaudio==2.7.0
opentelemetry-exporter-otlp-proto-common==1.39.1
colorlog==6.10.1
shellingham==1.5.4
pyglet==1.5.31
anyio==4.12.1
rcutils==5.1.6
multi-storage-client==0.39.0
pybullet==3.2.5
pybullet==3.2.7
uvicorn==0.29.0
cmeel==0.59.0
nvidia-cuda-cupti-cu12==12.8.57
httpx==0.28.1
u-msgpack-python==2.8.0
examples_rclpy_minimal_publisher==0.15.3
dash==3.4.0
rqt_graph==1.3.1
isaacsim-kernel==5.1.0.0
Jinja2==3.1.6
mediapy==1.2.5
isaacsim-gui==5.1.0.0
onnx==1.20.1
Pygments==2.19.2
cmake==3.22.0
image_geometry==3.2.1
junitparser==4.0.2
isaaclab_rl==0.4.4
statistics_msgs==1.2.1
tzdata==2025.3
pin-pink==3.1.0
xatlas==0.0.11
pypng==0.20220715.0
rosbag2_py==0.15.14
ipywidgets==8.1.5
Flask-SocketIO==5.6.0
prettytable==3.3.0
ament_lint_cmake==0.12.12
vector-quantize-pytorch==1.27.19
angles==1.15.0
Pint==0.20.1
Farama-Notifications==0.0.4
pluggy==1.5.0
pluggy==1.6.0
wheel==0.45.1
rosidl_generator_c==3.1.6
examples_rclpy_minimal_action_client==0.15.3
ros2doctor==0.18.12
jmespath==1.0.1
isaacsim-robot-setup==5.1.0.0
Markdown==3.10.1
isaacsim-benchmark==5.1.0.0
catkin_pkg==1.1.0
pytransform3d==3.14.4
logging_demo==0.20.5
termcolor==3.3.0
vision_msgs==4.1.1
pure_eval==0.2.3
PyQt6_sip==13.11.0
frozendict==2.4.7
pandas==3.0.0
ament_cpplint==0.12.12
cppcheck-htmlreport==2.18.3
tf2_kdl==0.25.14
svg.path==7.0
Flask==3.1.2
examples_rclpy_minimal_service==0.15.3
prometheus_client==0.24.1
jedi==0.19.2
rosidl_typesupport_fastrtps_c==2.2.2
aiobotocore==2.24.0
rosidl_adapter==3.1.6
azure-storage-blob==12.17.0
msgpack==1.1.1
msgpack==1.1.2
rqt_service_caller==1.0.5
pybind11==3.0.1
transformers==5.3.0
isodate==0.6.1
isaacsim-cortex==5.1.0.0
yarl==1.18.3
yarl==1.22.0
mdurl==0.1.2
ament_flake8==0.12.12
cv_bridge==3.2.1
hidapi==0.14.0.post2
annotated-doc==0.0.4
groot==0.1.0
wandb==0.24.0
click==8.3.1
nlopt==2.7.1
opencv-python-headless==4.11.0.86
opencv-python-headless==4.11.0
protobuf==6.33.4
portalocker==2.7.0
timm==1.0.24
interactive_markers==2.3.2
python-engineio==4.13.0
typing_extensions==4.15.0
typing_extensions==4.12.2
flatdict==4.0.1
antlr4-python3-runtime==4.9.3
diagnostic_updater==4.0.6
osqp==0.6.7.post3
torchgeometry==0.1.2
nbformat==5.10.4
viser==1.0.24
pytest-mock==3.15.1
flatbuffers==25.12.19
rclpy==3.3.16
jsonschema==4.26.0
annotated-types==0.7.0
aiofiles==23.2.1
xacro==2.0.13
uvloop==0.22.1
rospkg==1.6.1
jupyter_core==5.9.1
hf-xet==1.4.2
rqt_py_console==1.0.2
actuator_msgs==0.0.1
torchmetrics==1.8.2
resource_retriever==3.1.3
stereo_msgs==4.9.0
lmdb==1.7.5
py-spy==0.4.1
cycler==0.12.1
cycler==0.11.0
isaacsim-utils==5.1.0.0
toml==0.10.2
aioboto3==15.1.0
qdldl==0.1.7.post5
ament_cppcheck==0.12.12
pydot==4.0.1
anytree==2.13.0
blinker==1.9.0
pyasn1_modules==0.4.2
gunicorn==23.0.0
isaacsim-sensor==5.1.0.0
nvidia-cufft-cu12==11.3.3.41
msal==1.27.0
camera_calibration==3.0.8
topic_monitor==0.20.5
pep517==0.12.0
traitlets==5.14.3
scipy==1.15.3
isaacsim-code-editor==5.1.0.0
tf2_tools==0.25.14
pylance==1.0.3
nvidia-cuda-nvrtc-cu12==12.8.61
isaacsim-extscache-kit==5.1.0.0
map_msgs==2.1.0
trajectory_msgs==4.9.0
eigenpy==3.5.1
msal-extensions==1.0.0
sensor_msgs_py==4.9.0
rosidl_cli==3.1.6
msgpack-numpy==0.4.8
std_msgs==4.9.0
torch==2.7.0+cu128
nvidia-nvjitlink-cu12==12.8.61
rosidl_typesupport_c==2.0.2
moviepy==2.2.1
azure-identity==1.13.0
diagnostic_msgs==4.9.0
rqt_plot==1.1.5
vhacdx==0.0.10
python_qt_binding==1.1.2
ament_uncrustify==0.12.12
tf2_msgs==0.25.14
isaacsim==5.1.0.0
ament_copyright==0.12.12
launch_ros==0.19.10
ament_xmllint==0.12.12
simple-websocket==1.1.0
botocore==1.39.11
warp-lang==1.11.0
tokenizers==0.22.2
prompt_toolkit==3.0.52
meshcat==0.3.2
huggingface_hub==1.7.1
httptools==0.6.1
setuptools==80.9.0
rosidl_cmake==3.1.6
rosgraph_msgs==1.2.1
duckdb==1.4.3
isaacsim-test==5.1.0.0
wcmatch==10.1
ros2launch==0.19.10
onnxruntime==1.23.2
embreex==2.17.7.post7
isaacsim-extscache-kit-sdk==5.1.0.0
ros2lifecycle==0.18.12
empy==3.3.4
decord==0.6.0
nvidia-cuda-runtime-cu12==12.8.57
launch_testing_ros==0.19.10
ros2bag==0.15.14
ament_lint==0.12.12
pytz==2024.1
flake8==7.3.0
ipdb==0.13.13
nvidia-cusolver-cu12==11.7.2.55
opencensus==0.11.4
sros2==0.10.6
pexpect==4.9.0
Rtree==1.3.0
pytest-timeout==2.4.0
networkx==3.3
rqt_bag_plugins==1.1.5
smplx==0.1.28
packaging==26.0
isaacsim-ros2==5.1.0.0
pycollada==0.9.3
smart_open==7.5.0
rqt_msg==1.2.0
rqt_py_common==1.1.7
llvmlite==0.42.0
mapbox_earcut==2.0.0
rosidl_typesupport_introspection_cpp==3.1.6
PyOpenGL==3.1.10
rqt_bag==1.1.5
pyttsx3==2.90
PyQt5_sip==12.17.0
boto3==1.39.11
rosidl_generator_cpp==3.1.6
isaaclab==0.48.8
virtualenv==20.36.1
pydantic==2.11.10
isaacsim-ros1==5.1.0.0
pynput==1.8.1
tensordict==0.10.0
jupyterlab_widgets==3.0.16
threadpoolctl==3.6.0
pathspec==1.0.3
nvidia-cublas-cu12==12.8.3.14
ros2component==0.18.12
ros2multicast==0.18.12
rich-click==1.9.6
lark==1.3.1
build==1.4.0
rqt_gui==1.1.7
mujoco==3.4.0
tf2_py==0.25.14
matplotlib-inline==0.2.1
rosidl_typesupport_introspection_c==3.1.6
s3transfer==0.13.1
smpl_sim==0.0.1
python-multipart==0.0.20
rmw_dds_common==1.6.0
PyQt-builder==1.18.2
pyquaternion==0.9.9
gear==0.0.0
rpds-py==0.30.0
ament_index_python==1.4.0
MarkupSafe==2.1.3
parso==0.8.5
cffi==2.0.0
google-api-core==2.29.0
isaacsim-asset==5.1.0.0
flaky==3.8.1
rosidl_runtime_py==0.9.3
wrapt==1.16.0
hpp-fcl==2.4.4
